*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    background-image: linear-gradient(to bottom left, black, #4E0A47);
    background-size:cover;
    min-height:800px;


}

.header{
    position: fixed;
   }


.table{
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;

}

.img{
    width:350px; 
    height: 350px;
    object-fit: cover;
    }
    
    .texto{
        text-align:justify;
        color: #FFFF;
        font-size: 120%;
    }

    .frase{
        text-align:justify;
        color: #FFFF;
        font-size: 120%;
    }
   
    
    